 .header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: #eba800;
  background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
  
}

header h2 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
}

@media all and (min-width: 1024px) {

  .header-img {
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    width: 45%;
    height: 300px;
    font-size: 75%;
  }

  .avatar-img {
    display: flex;
    justify-content: center;
  }

  .avatar-img img {
    max-width: 60%;
  }

}