 .header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #f4f1ec;
  background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
  padding: 0 35px;
}

.background {
  display: flex;  
  flex-direction: column;   
}
.avatar-img {  
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding-top: 200px;
  padding-bottom: 0;
  height: 80%;
}
.user-name {
color: #080707;
padding-top: 0;
height: auto;
}