nav  {
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  height: 120px;
  background-color: #4056a1;    
  padding: 0 1.5em;
  z-index: 100;  
  color: #ffffff;
  width:100%;
  
} 
.navTweeter {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}
.logo {
  font-family: 'Bungee', cursive;  
  margin-top: 40px;
}
.newTweet {
  display: flex;
  /* justify-content: center;  
  align-items: center; */
  
}
.bold {
  font-weight: bold;
}
.fa-solid {  
  color: red;  
} 
