
body {
  margin: 0;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #4056a1;
  height: 120px;
  color: #ffffff;
  padding: 0 1.5em;
  width:100%;
}

#nav .left {
  font-family: 'Bungee', cursive;
}

#nav .right {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}
.bold {
  font-weight: bold;
}
.fa-solid {  
  color: red;  
}